@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
.loud-voice	{
	font-family: "Merriweather", serif;
	font-size: clamp(36px, 5vw, 50px);
	font-weight: 500;
}

.attention-voice	{
	font-family: "Merriweather", serif;
	font-size: 30px;
}

.small-attention-voice {
	font-family: "Merriweather", serif;
	font-size: 20px;
}

.strong-voice	{
	font-family: sans-serif;
	font-weight: 700;
	font-size:  1rem;
}

.calm-voice, p, li {
	font-family: "Open Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}

.caption-voice {
	font-family: "Open Sans", sans-serif;
	font-size: .8rem;
	color: rgb(0 0 0 / .6);
	max-width: 65ch;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 1rem;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
