<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Language Families</title>
	<link rel='stylesheet' href='styles/site.css'>
</head>

<body>

	<header class='site-header'>
		<inner-column>
			<h1>Language Families</h1>
		</inner-column>
	</header>

	<main>
