<%- include('header.ejs') %>

<header class='page-header'>
	<inner-column>
		<h2 class='attention-voice color'><%= page.title %></h2>
		<p><%= page.intro %></p>
	</inner-column>
</header>

<%- include('footer.ejs') %>