<%- include('header.ejs') %>

<%- include('page-header.ejs') %>

<section>
	<inner-column>
		<ul class='family-list'>
			<%- include('language-card.ejs') %>
		</ul>
	</inner-column>
</section>

<%- include('footer.ejs') %>