<% intro = 'This is only 5% of the language families spoken around the world. 147 language families - who\'s hosting the reunion' %>

<header>
	<inner-column>
		<h2><%= pageName %></h2>
		<p><%= intro %></p>
	</inner-column>
</header>