.family-list {
	display: grid;
	gap: 16px;
	a {
		display: flex;
		font-size: .9em;
		text-decoration: underline;
	}

	h2::after {
		content: '✿';
		padding-left: 10px;
	}
}

.family-list h2 + p {
	margin-top: 0;
}

.family-list li {
	padding: 1em;
}

li.americas {
	border: 2px solid orange;
}

li.asia {
	border: 2px solid blue;
}

li.africa {
	border: 2px solid red;
}